<div class="layout-container">
  <mat-sidenav-container class="sidenav-container">
    <!-- Mobile drawer -->
    <mat-sidenav
      #drawer
      class="sidenav"
      fixedInViewport
      [mode]="isHandset ? 'over' : 'side'"
      [opened]="isHandset ? false : isSidebarOpen"
    >
      <app-sidebar 
        [isOpen]="isSidebarOpen" 
        (toggleSidebar)="toggleSidebar()"
      ></app-sidebar>
    </mat-sidenav>
    
    <mat-sidenav-content>
      <app-header (toggleSidebar)="toggleSidebar()"></app-header>
      <div class="content-container">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
