.layout-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.sidenav-container {
  flex: 1;
}

.sidenav {
  width: 240px;
  border-right: none;
}

.content-container {
  padding: 16px;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
}

@media (max-width: 599px) {
  .content-container {
    padding: 8px;
  }
}
